.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: 100%;
}

.trybewarts-login {
  display: flex;
  height: 25px;
  margin-left: 10px;
  padding: 10px;
}

#evaluation-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 675px;
  height: 25px;
}

#trybewarts-forms-logo {
  height: 500px;
}

main {
  display: flex;
}
