.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  width: 100%;
}

.trybewarts-login {
  display: flex;
  height: 20px;
  margin-left: 10px;
  padding: 10px;
}

form {
  display: flex;
  width: 675px;
}

main {
  display: flex;
}